{
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "react/no-array-index-key": "warn",
    "react/prop-types": "off",
    "import/no-anonymous-default-export": "off",
    "indent": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  }

}