.section {
  margin-bottom: 40px;

  & .header {
    font-size: 28px;
    color: #666;
  }
}

.producer-logo {
  & > a > img {
    max-width: 180px;
  }
}

.description-container {
  padding: 0 70px;
}

.top-bar {
  display: block;
  // background: #00000042;
  background-image: url("../src/components/Preview/gratis.png");
  opacity: 0.3;
  height: 50px;
  margin-left: -85px;
  margin-right: -85px;
}

.producer-header {
  margin-top: 0;

  & > h4:before {
    display: block;
    width: 130px;
    background: #111;
    position: absolute;
    left: 0;
    bottom: 100%;
  }
}

.headers-section {
  text-align: center;
  font-family: "Roboto";

  & > h2 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  & > h3 {
    letter-spacing: 3px;
    font-size: 19px;
    color: grey;
  }
  & > h4 {
    font-size: 14px;
  }
}

.description-section {
  text-align: justify;
  line-height: 45px;
  font-size: 18px;
  font-family: Roboto;
  margin-bottom: 40px;
  letter-spacing: 1px;
  border-bottom: 1px solid #00000033;

  & > p:first-child {
    padding-bottom: 40px;
  }
}

.list-section {
  & .list {
    list-style: none;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-right: 15px;

    & > li {
      margin: 10px 0;
      font-size: 20px;
      font-family: "Roboto";
      font-weight: 500;
      letter-spacing: 3px;
    }

    & li::before {
      content: "\203a";
      font-family: FontAwesome;
      margin-left: -15px;
      margin-right: 5px;
    }
  }
}

.banner-section {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  .img-frame {
    display: block;
    background: transparent;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 15px #999;
  }

  & > img {
    width: 95%;
  }
}

.image-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;

  & .image-container {
    max-width: 360px;
    text-align: center;

    & > h5 {
      font-size: 20px;
      margin: 0 0 15px 0;
      text-align: center;
    }

    & > p {
      text-align: center;
      line-height: 28px;
      font-size: 16px;
      font-family: Roboto;
      letter-spacing: 1px;
    }
  }
}

.video-section {
  & .video-wrapper {
    padding: 0 0 56.25%;
    position: relative;
    box-shadow: 3px 3px 15px #999;

    & > iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  & .section-description {
    text-align: justify;
    line-height: 45px;
    font-size: 18px;
    font-family: Roboto;
    margin-bottom: 40px;
    text-indent: 2em;
    letter-spacing: 1px;
  }
}

@media (max-width: 1200px) {
  .top-bar {
    margin-left: -60px;
    margin-right: -60px;
  }

  .description-container {
    padding: 0 60px;
  }

  .list-section {
    & .list {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }
}

@media (max-width: 979px) {
  .section {
    & .header {
      font-size: 24px;
    }
  }

  .top-bar {
    margin-left: -40px;
    margin-right: -40px;
  }

  .description-container {
    padding: 0 40px;
  }

  .list-section {
    & .list {
      padding-left: 15px;

      & > li {
        font-size: 17px;
      }
    }
  }

  .image-section {
    justify-content: center;

    & .image-container {
      max-width: unset;
      width: 100%;
      margin-bottom: 10px;

      & > p {
        line-height: 24px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .section {
    & .header {
      font-size: 20px;
    }
  }

  .top-bar {
    margin-left: -20px;
    margin-right: -20px;
  }

  .description-container {
    padding: 0 10px;
  }

  .description-section {
    font-size: 14px;
    line-height: 40px;
  }

  .headers-section {
    & > h2 {
      font-size: 24px;
      letter-spacing: 2px;
    }
    & > h3 {
      letter-spacing: 3px;
      font-size: 15px;
    }
    & > h4 {
      font-size: 13px;
    }
  }

  .image-section {
    & .image-container {
      & > img {
        width: 80%;
        max-width: 300px;
      }

      & > h5 {
        font-size: 17px;
      }

      & > p {
        font-size: 14px;
      }
    }
  }

  .video-section {
    & .section-description {
      line-height: 30px;
      font-size: 14px;
    }
  }
}
